#Clave secreta para firmar los tokens JWT (Cambiar en producción)
JWT_SECRET=secreto_super_ultra_seguro_234565324923

# Entorno de ejecución (development o production)
NODE_ENV=development

ESCANER_API_KEY=clave_secreta_no_la_leakeen_pls_escaner_muic_2026